/*隐藏 checkbox radio 原生样式*/
input[type='checkbox'],
input[type='radio'] {
  display: none;
}


/*雪碧图*/
.background input[type='checkbox']+label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(./ico.png);
  background-position: -24px -32px;
}

/*增加图标和文字的距离*/
label span {
  margin-left: 24px;
}

.background input[type='checkbox']:checked+label {
  background-position: -59px -31px;
}

.background input[type='radio']+label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(./ico.png);
  background-position: -24px -10px;
}

.background input[type='radio']:checked+label {
  background-position: -59px -10px;
}


/*伪元素实现*/

.elments input[type='checkbox']+label{
  width: 12px;
  height: 12px;
  border:1px solid #d9d9d9;
  display: inline-block;
  position: relative;
}

.elments input[type='checkbox']:checked+label{
  border:1px solid #d73d32;
}


.elments input[type='checkbox']:checked+label::before{
  position: absolute;
  content: '\2714';
  color: red;
  font-size: 1px;
  top: -2px;
  left: 1px;
  width: 8px;
  height: 8px;
}


.elments input[type='radio']+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABj0lEQVQ4jZ2TMUtcQRSFvzvIFgtuihRiYRPEm/aBUywI+QGKXSCQwsIqKhhYwfyDpNAQCLJdmjQhkkYTWAttLRYiWjkaSBFFFuGB78EW4zKTYl/CskTjeuA2l/MdLnPvCH1yzo0BL4AZYKJoHwNbQF1VL3r9pg9+DXwHcuA58KCoOeAaOHLOvellpAfeAEaAeVW96p+s8FSAD0BLVRf/BhSp48BTVY3/gntCBNgEfqjqK3HOjQKHwLiqZrfBfZOcApMmhLAAvL8rDFB434UQFoyIzNJ94UH1VURmjIgo3TUNKiciE+b/vhtVijFemxDCCfD4HgGPYow/jff+GzB7j4Bp733DnJ+d1YGlYjV3UuF92Wq16jIEpnlwsF4ul8cY4JDa7fYvmyQ104Fgk2Q1z/MM+OycG74FHgY28zzPbJKsdiAIwFD3pEv7zeZapVJ5BrwFtgEHlOj+ymlgOcuyT1VrVwDfgWgAOhABX7W2tre7+yRN01Hv/ZcYYzuEcOm9/5im6cOdRmOqam3tDwzwG8lbrnZ0/2pYAAAAAElFTkSuQmCC) no-repeat;
}

.elments input[type='radio']:checked+label::before {
  content: '';
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB00lEQVQ4jZWTQUgUURjHf+/tukbldgwPdtDVGrwII4gJc+2giJcgqPQQQRHYwUo7dPJQWHQIpA6xl4VF8pYGQbeB7bJNZiSTFVoQRDdbTWln5o2HGeXxWKw+eIfve/////2/970nMMJ37DbgKjAEdKXlj8Bz4LHlej90vDTId4G3wCZwHjiWrjEgAN77jn1P5wiNPAscBy5ZrvfLdJZi8kAR+Gm53rV9gVS1AJy1XC9uRNZEBDAPfLFcb0r4jt0KLAMFy/VqB5ENJ5+BXrHi2NMS6pbrTWuAHHAfuJC6LAE3Ldera5jbCvJZAcPAqHHIDDCu5ePADjCl1RYFlKWAkyRj0uNiA+eXjXxVQJdsAPzXyMUQSAWfgFPGZqkB4amRt8ewng2UetEs5TDJJPbiFsnl7bVSAu4YAoOBUi/FYm/3iY7Dh6pA5/+O8dvOn3458mbl+3akykAxfSR/IwuguB2p8lD1w1cZguqrLE1uhVENeOY7dssB5BZgfiuMan2VpckQlADIJv3mKqd7HuSzmXPAQ2ABWAVyJL9yELheC6O5gdfvbgD1EOJ9y6lI06PujkJP/uiVI5nMmSYp2mMIQhWv/Y6iV9WNzScT/to6EIQQA+wCGE2kAg7qk5gAAAAASUVORK5CYII=) no-repeat;
}

.elments label span {
  margin-left: 24px;
}

